<div id="modal">

    <div class="modal-overlay" hx-on:click="document.getElementById('modal').remove()">
    </div>

    <div class="modal">
        <div class="modal-content">
            <h3>Sign in with Google</h3>
            <div id="g_id_onload"
                data-client_id="42686524573-nrvt4mpcf1m8lc6q8ftai2ibspi6tqka.apps.googleusercontent.com"
                data-context="signin" data-ux_mode="redirect" data-login_uri="/api/google/auth/"
                data-auto_prompt="false">
            </div>

            <div class="g_id_signin" data-type="standard" data-shape="pill" data-theme="filled_black"
                data-text="signin_with" data-size="large" data-logo_alignment="left">
            </div>

            <button class="close-btn" onclick="window.location.href='/login'">
                Close
            </button>
        </div>
    </div>

</div>